@charset "utf-8";

/*
   Filename: websitestyle.css

*/
body {
  background-color: lightblue;
}
nav {
   color:black;
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
   padding: 10px;
   outline: 3px solid darkblue;
   width: 100%;
   background-color: lightgrey;
}
.Right {
  float: right;
}
.Right a {
  padding: 10px;
  text-align: right;
}
#bigQuote {
  font-size: 50px;
}
#littleQuote {
  font-size: 35px;
}
